body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    height: fit-content;
    padding: 30px;
    width: fit-content;
    background: rgba(255, 182, 148, 0.63);
}

.create-user-input {
    border-radius: 5px;
    width: 300px;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .input-wrapper {
        height: fit-content;
        padding: 30px;
        width: 90% !important;

    }
  }

