body {
    margin: 0;
    padding: 0;
    height: fit-content;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
   
}

.nav-wrapper {
  width: 100%;
}

.navbar-brand {
    width:200px;
}

.navbar {
    background: rgba(231, 231, 231, 0.473);
}

.question-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quiz-container {

    max-width:500px;
    min-width: 500px;
    margin: 20px;
    margin-bottom:50px;
    background: rgba(240, 214, 214, 0.644);
    padding: 30px;
    border-radius: 20px;
}

.question {
    margin-bottom: 10px;
}

.choices label {
    display: block;
    margin-bottom: 5px;
}

#submit-btn {
    margin-top: 10px;
}

#result {
    margin-top: 20px;
}

.buttons-wrapper {
  width: 600px;
  height: 100%;
  margin-top: 20px !important;
}

.buttons-wrapper .buttons button {
  width:100%;
  height: 150px;
  background: rgba(252, 180, 175, 0.952);
  border: none;
  border-radius: 10px;
  margin: 20px;
}

.question-menu-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-menu-wrapper .question-menu-con {

  max-width:500px;
  min-width: 500px;
  margin: 20px;
  background: rgba(240, 214, 214, 0.644);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.menu-button {
  width: 10000px;
}

@media screen and (max-width: 768px) {

  body {
    width: 100vw;
  }

  .question-menu-wrapper .question-menu-con {
    max-width:90%;
    min-width: 90%;
  }

  #quiz-container {
    max-width:90%;
    min-width: 90%;
  }

  .buttons-wrapper {
    width: 100%;
    height: 100%;
  }
}



